[Desktop Entry]
X-AppImage-Arch=x86_64
X-AppImage-Version=0.1.0
X-AppImage-Name=tux-pet
Name=tux-pet
Exec=usr/bin/tux-pet
Icon=tux-pet
Type=Application
Terminal=false
Categories=Utility;
Comment=
